<!DOCTYPE html>
<html>

<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Performance</th>
                <th scope="col">Attendance</th>
            </tr>
        </thead>
        <tbody>
            <% if(allEntries){ %>
            <% allEntries.forEach(function(row){ %>
            <% if(row.attendance<40){ %>
            <tr class="table-danger">
                <th scope="row"><%=row.studentID%></th>
                <td><%= row.studentName%></td>
                <td><%= row.performance%> </td>
                <td> <%=row.attendance%> </td>
            </tr>

            <% }else if(row.attendance>90){ %>
            <tr class="table-success">
                <th scope="row"><%=row.studentID%></th>
                <td><%= row.studentName%></td>
                <td><%= row.performance%> </td>
                <td> <%=row.attendance%> </td>
            </tr>
            <%}else{%>
            <tr>
                <th scope="row"><%=row.studentID%></th>
                <td><%= row.studentName%></td>
                <td><%= row.performance%> </td>
                <td> <%=row.attendance%> </td>
            </tr>
            <%}%>
            <% }); %>
            <% } %>

        </tbody>
    </table>
    <form action="/student" method="get">


        <button type="submit" class="btn btn-primary">Insert New Data</button>
    </form>
</body>

</html>